<header class="section-header">
  <h2>{{ sectionName }}</h2>
  <div class="actions">
    <i
      nz-tooltip nzTooltipTitle="add a group" nzTooltipPlacement="bottom"
      nz-icon nzType="plus" nzTheme="outline" (click)="addGroup()"></i>
    <i
      *ngIf="store.isClipboardActionsAvailable"
      nz-icon nzType="snippets" nzTheme="outline"
      nz-tooltip nzTooltipTitle="past a group" nzTooltipPlacement="bottom"
      (click)="contentManager.clipboard.pastGroup()"></i>
  </div>
</header>

<div *ngIf="!contentManager.isLoading">
  <div *ngFor="let group of groupList">
    <div [id]="group.anchorLink" class="group">
  
      <header class="group-header">
        <app-editable-text
          #editableText
          [text]="group.name"
          [customTemplate]="textTemplate"
          (blur)="onBlur($event, group)"
        >
          <ng-template #textTemplate let-text><h3>{{ text }}</h3></ng-template>
        </app-editable-text>
        
        <div>
          <i
            *ngIf="isGroupEditable"
            nz-icon nzType="edit"
            nzTheme="outline"
            (click)="editor.enable(sectionName, {group: group})"
          ></i>
        
          <i
            nz-icon nzType="more" nzTheme="outline"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
          >
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item
                  (click)="contentManager.deleteGroup(group.id)"
                >Delete</li>
                <li
                  nz-menu-item
                  (click)="editableText.makeEditable()"
                >Rename</li>
                <li
                  *ngIf="store.isClipboardActionsAvailable"
                  nz-menu-item
                  (click)="contentManager.clipboard.pastToken(group.id)"
                >Past Token</li>
                <li
                  *ngIf="store.isClipboardActionsAvailable"
                  nz-menu-item
                  (click)="contentManager.clipboard.copy(group)"
                >Copy Group</li>
              </ul>
            </nz-dropdown-menu>
          </i>
        </div>
      </header>
  
      <div class="container" [ngClass]="layout">
        <div
          *ngFor="let token of group.tokens"
          class="token-wrapper"
        >
          <ng-container *ngIf="getPreviousTokens">
            <ng-container *ngFor="let tokenBefore of getPreviousTokens(token, group)">
              <ng-container *ngTemplateOutlet="tokenWrapper; context: {$implicit: tokenBefore, group: group}"></ng-container>
            </ng-container>
          </ng-container>

          <div *ngIf="isTokenVisible(token)">
            <ng-container *ngTemplateOutlet="tokenWrapper; context: {$implicit: token, group: group}"></ng-container>
          </div>

          <ng-container *ngIf="getNextTokens">
            <ng-container *ngFor="let tokenAfter of getNextTokens(token, group)">
              <ng-container *ngTemplateOutlet="tokenWrapper; context: {$implicit: tokenAfter, group: group}"></ng-container>
            </ng-container>
          </ng-container>

          </div>
        </div>
  
      <div class="add-token-btn" (click)="addToken(group.id)">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </div>
    </div>
  </div>

  <ng-template #tokenWrapper let-token let-group="group">
    
      <div class="token">
      
        <ng-container *ngTemplateOutlet="tokenTemplate; context: {$implicit: token, group: group}"></ng-container>
      
        <div class="dropdown-menu">
          <i
            *ngIf="isTokenEditable"
            nz-icon nzType="edit"
            nzTheme="outline"
            (click)="editor.enable(sectionName, {group: group, token: token})"
          ></i>
          <i
            nz-icon nzType="more" nzTheme="outline"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
          >
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  nz-menu-item
                  (click)="editableText.makeEditable()"
                >Rename</li>
                <li
                  nz-menu-item
                  (click)="contentManager.deleteToken(token.id, group.id)"
                >Delete</li>
                <li
                  *ngIf="store.isClipboardActionsAvailable"
                  nz-menu-item
                  (click)="contentManager.clipboard.copy(token)"
                >Copy</li>
              </ul>
            </nz-dropdown-menu>
          </i>
        </div>
      </div>
  
      <app-editable-text
        #editableText
        [text]="token.name"
        (blur)="contentManager.renameToken($event, token.id, group.id)"
        [customTemplate]="textTemplate"
      >
        <ng-template #textTemplate let-text>
          <p class="token-name">{{ text }}</p>
        </ng-template>
      </app-editable-text>
  </ng-template>
</div>

<div *ngIf="contentManager.isLoading">Loading</div>


