<app-group-list [groupTemplate]="groupTemplate">
  <ng-template #groupTemplate let-group>
    <app-group [group]="group" [tokenPreviewTemplate]="tokenTemplate">
      <ng-template #tokenTemplate let-token let-group="group">
        <app-token-editable
          [isEditable]="!group.state.scale"
          [minValue]="MIN_FONT_SIZE"
          [maxValue]="MAX_FONT_SIZE"
          [value]="token.value"
          [previewTemplate]="tokenPreviewRef"
          (onAfterChange)="section.setTokenValue($event, token.id, group.id)"
        >
          <ng-template #tokenPreviewRef let-value>
            <app-text-preview
              [group]="group"
              [templateRef]="textPreview"
            >
              <ng-template #textPreview let-text>
                <p [style]="{'fontSize': value + 'px'}">{{text}}</p>
              </ng-template>
            </app-text-preview>
            <p *ngIf="group.state.scale">{{ value + 'px' }}</p>
          </ng-template>
        </app-token-editable>
      </ng-template>
    </app-group>
  </ng-template>
</app-group-list>