<!-- group's body -->

<ng-container *ngFor="let token of group.tokens">

  <!-- tints -->

  <ng-container *ngFor="let tints of token.tint.reverse()">
    <ng-container *ngTemplateOutlet="tokenTemplate; context: {$implicit: tints, group: group}"></ng-container>
  </ng-container>
  
  <!-- primary color -->

  <ng-container *ngTemplateOutlet="tokenTemplate; context: {$implicit: token, group: group}"></ng-container>
  
  <!-- shades -->

  <ng-container *ngFor="let shades of token.shade">
    <ng-container *ngTemplateOutlet="tokenTemplate; context: {$implicit: shades, group: group}"></ng-container>
  </ng-container>

</ng-container>


<!-- token -->

<ng-template #tokenTemplate let-token let-group="group">
  <app-token
    [token]="token"
    [group]="group"
    [previewTemplate]="tokenPreviewTemplate"
    [editorTemplate]="editorTemplate"
  ></app-token>

  <ng-template #editorTemplate let-content>
    <app-color-palette-editor [content]="content"></app-color-palette-editor>
  </ng-template>

  <ng-template #tokenPreviewTemplate let-data>
    <div
      class="color-preview token-interactive"
      [style.background]="data.token.color"
      (click)="data.openEditor()"
    >
      <h4
        [style.color]="getHexCodeColor(data.token)"
        class="hex absolute-center"
      >{{ data.token.color }}</h4>
    </div>
  </ng-template>
</ng-template>