<!-- group's body -->

<ng-container *ngFor="let token of group.tokens">

  <app-token
    [token]="token"
    [group]="group"
    [previewTemplate]="tokenPreviewTemplate"
    [editorTemplate]="editorTemplate"
  ></app-token>

  <ng-template #editorTemplate let-content>
    <app-color-palette-editor [content]="content"></app-color-palette-editor>
  </ng-template>

  <ng-template #tokenPreviewTemplate let-data>
    <div
      class="color-preview token-interactive"
      [style.background]="data.token.color"
      (click)="data.openEditor()"
    >
      <h4
        [style.color]="getHexCodeColor(data.token)"
        class="hex absolute-center"
      >{{ data.token.color }}</h4>
    </div>
  </ng-template>

</ng-container>