<div>

  <div class="content">
    <label for="name">Name</label>
    <input id="name" nz-input [(ngModel)]="tokenName" (blur)="onBlur()" />

    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio-button nzValue="loaded-fonts">Loaded Fonts</label>
      <label nz-radio-button nzValue="google-fonts">Google Fonts</label>
      <label nz-radio-button nzValue="custom-font">Custom Font</label>
    </nz-radio-group>

    <app-google-fonts
      (save)="saveFont($event)"
      *ngIf="radioValue === 'google-fonts'"
    ></app-google-fonts>

    <app-custom-font
      (save)="saveFont($event)"
      *ngIf="radioValue === 'custom-font'"
    ></app-custom-font>

    <app-loaded-fonts
      *ngIf="radioValue === 'loaded-fonts'"
      (save)="saveFont($event)"
    ></app-loaded-fonts>
  </div>
</div>