@import "design-tokens";

.contrast {
  width: 109%;
  margin-left: -5%;
  padding: @space-md var(--editor-padding-x);
}

.contrast-ratio {
  font-weight: 500;
}

.contrast-status {
  text-transform: capitalize;
}