<div class="container">
  <i
    nz-tooltip nzTooltipTitle="duplicate"
    class="icon-btn" nz-icon nzType="block" nzTheme="outline"
    (click)="duplicate()"
  ></i>

  <div class="space-horizontal space-horizontal-xxxs"></div>

  <i
    nz-tooltip nzTooltipTitle="delete"
    class="icon-btn" nz-icon nzType="delete" nzTheme="outline"
    (click)="delete()"
  ></i>

  <div class="space-horizontal space-horizontal-xxxs"></div>

  <i
    *ngIf="canCopy()"
    nz-tooltip nzTooltipTitle="copy"
    class="icon-btn" nz-icon nzType="copy" nzTheme="outline"
    (click)="copy()"
  ></i>
</div>

<ng-template #editor>
  <ng-container *ngTemplateOutlet="editorTemplate; context: {$implicit: {token: token, group: group}}"></ng-container>
</ng-template>