// .color-preview {
//   // width: 25px;
//   height: 31px;
// }

// .variants {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-row-gap: 7px;
//   grid-column-gap: 3px;
// }

.action-button {
  cursor: pointer;
}

.variant {
  // width: 25px;
  height: 31px;
}

.variants-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 7px;
  grid-column-gap: 3px;
  padding: 10px 0;
}

.variants-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}