<div class="variants">
  <div class="variants-header">
    <i class="action-button" nz-icon nzType="minus" nzTheme="outline" (click)="delete()"></i>
    <!-- <p>{{ type }}s</p> -->
    <i class="action-button" nz-icon nzType="plus" nzTheme="outline" (click)="add()"></i>
  </div>

  <div>
    <span>Mix ratio</span>
    <nz-slider
      [nzMin]="1"
      [nzMax]="100"
      [(ngModel)]="mixRatio"
      (ngModelChange)="changeVariantsColor()"
      (nzOnAfterChange)="saveConfigs()"
    ></nz-slider>
  </div>
  <!-- <br /> -->
  <div>
    <span>Saturation</span>
    <nz-slider
      [nzMin]="1"
      [nzMax]="100"
      [(ngModel)]="saturation"
      (ngModelChange)="changeVariantsColor()"
      (nzOnAfterChange)="saveConfigs()"
    ></nz-slider>
  </div>
  <br />
  <div class="variants-grid">
    <div
      class="variant"
      *ngFor="let variant of variants"
      [style.background]="variant.color"
    ></div>
  </div>
</div>


<!-- <div>
  <span>{{ type }}</span>

  <div>
    <nz-slider
      [nzMin]="MIN_VARIANTS"
      [nzMax]="MAX_VARIANTS"
      [(ngModel)]="variantCount"
      (ngModelChange)="changeVariantCount()"
      (nzOnAfterChange)="emitData(_variants)"
    ></nz-slider>

    <div
      *ngIf="variantCount"
      class="variants"
    >
      <div
        *ngFor="let variant of _variants"
        [style.background]="variant.value"
        class="color-preview"
      ></div>
    </div>

  </div>
</div> -->