<header>
  <div class="wrapper">
    <div class="theme-switcher">
      <i
        class="btn-add-theme btn"
        nz-tooltip nzTooltipTitle="add a theme" nzTooltipPlacement="bottom"
        nz-icon nzType="plus" nzTheme="outline"

        nz-popover
        [(nzPopoverVisible)]="nextThemeEditorVisible"
        nzPopoverTrigger="click"
        [nzPopoverContent]="nextThemeEditorTemplate"
      >
      <ng-template #nextThemeEditorTemplate>
        <div class="popover-content">
          <p class="popover-header">Theme name</p>
          <div class="popover-body">
            <input nz-input [(ngModel)]="nextThemeName" />
            <button nz-button nzType="primary" (click)="addTheme()">Save</button>
          </div>
        </div>
      </ng-template>
      </i>


      <nz-select
        [ngModel]="themes.selected"
        nzShowSearch
        nzServerSearch
        (ngModelChange)="themes.selectTheme($event)"
        nzOptionOverflowSize="7"
        (nzOnSearch)="themes.search($event)"
      >
      <ng-container *ngFor="let item of themes.list">
        <nz-option
         *ngIf="!themes.isLoading"
          [nzValue]="item"
          [nzLabel]="item.name"
        ></nz-option>
      </ng-container>

      <nz-option *ngIf="themes.isLoading" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" nzTheme="outline"></i>
      </nz-option>

      </nz-select>

      <i
        class="btn btn-rename"
        nz-tooltip nzTooltipTitle="rename" nzTooltipPlacement="bottom"
        nz-icon nzType="edit" nzTheme="outline"

        nz-popover
        [(nzPopoverVisible)]="currentThemeEditorVisible"
        nzPopoverTrigger="click"
        [nzPopoverContent]="currentThemeEditorTemplate"
        (nzPopoverVisibleChange)="onCurrentThemeEditorOpen()"
      >
        <ng-template #currentThemeEditorTemplate>
          <div class="popover-content">
            <p class="popover-header">Theme name</p>
            <div class="popover-body">
              <input nz-input [(ngModel)]="currentThemeName" />
              <button nz-button nzType="primary" (click)="renameTheme()">Rename</button>
            </div>
          </div>
        </ng-template>
      </i>

      <i
        class="btn btn-more"
        nz-icon nzType="more" nzTheme="outline"
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
      ></i>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>          
          <li nz-menu-item (click)="deleteTheme()">Delete</li>
        </ul>
      </nz-dropdown-menu>

    </div>
    <button nz-button nzType="primary" [routerLink]="['export']">Export</button>
  </div>
</header>