@import "design-tokens";

header {
  padding: @space-xl 0;
}

.content {
  position: relative;
}

.content-wrapper {
  position: fixed;
  width: 270px;
}

.anchor-list {
  padding: 0 @space-lg;
}

nz-link {
  padding: 13px 0;
}