<div class="content">
  <div class="content-wrapper">
      <app-editor *ngIf="editor.isActive"></app-editor>

      <ng-container *ngIf="!editor.isActive">
        <div *ngIf="explorer.isLoading" class="loader flex-center">
          <i nz-icon nzType="loading" nzTheme="outline"></i>
        </div>
        <div *ngIf="!explorer.isLoading">
          <div class="explorer-wrapper">
            <ng-container *ngFor="let templateRef of explorer.templates">
              <ng-container *ngTemplateOutlet="templateRef"></ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
  </div>
</div>