<div class="content">
  <div class="content-wrapper">
    <app-editor *ngIf="editor.isActive"></app-editor>

    <div class="anchor-list" *ngIf="!editor.isActive">
      <header>
        <h5 nz-typography>{{ store.page.name }}</h5>
      </header>

      <div class="main">
        <div *ngFor="let groups of store.page.content">
          <h5 nz-typography>{{ groups.name }}</h5>
          <nz-anchor [nzAffix]="false">
            <nz-link
              *ngFor="let group of groups.content"
              [nzHref]="'#' + group.anchorLink"
              [nzTitle]="group.name"
            ></nz-link>
          </nz-anchor>
        </div>
      </div>

    </div>
  </div>
</div>