@import "design-tokens";

.toolbar {
  padding: @space-sm;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid @color-border;

  li {
    margin-bottom: @space-lg;
    cursor: pointer;
    padding: 6px 0;
  }

  .icon {
    z-index: 1;
    position: relative;
    &::ng-deep svg {
      height: @icon-sm;
      width: @icon-sm;
      fill: @color-contrast-higher;
      display: block;
      margin: 0 auto;
    }
  }
}
