<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenPreviewTemplate"
      [tokenTemplate]="tokenTemplate"
      [tokenEditorTemplate]="editorTemplate"
    >
      <ng-template #tokenTemplate let-token let-group="group" let-tokenTemplateWrapper="tokenTemplateWrapper">

        <ng-container *ngFor="let tints of token.tint.reverse()">
          <ng-container *ngTemplateOutlet="tokenTemplateWrapper; context: {$implicit: tints, group: group}"></ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="tokenTemplateWrapper; context: {$implicit: token, group: group}"></ng-container>

        <ng-container *ngFor="let shades of token.shade">
          <ng-container *ngTemplateOutlet="tokenTemplateWrapper; context: {$implicit: shades, group: group}"></ng-container>
        </ng-container>
      </ng-template>
 
      <ng-template #tokenPreviewTemplate let-token>
        <div class="token" [style.background]="token.color">
          <p style.color="#fff">{{ getReadability(token.color) }}</p>
        </div>
        <p>HEX: {{ token.color }}</p>
        <p>RGB: {{ getRgb(token.color) }}</p>
        <p>HSL: {{ getHsl(token.color) }}</p>
      </ng-template>

      <ng-template #editorTemplate let-content>
        <app-color-palette-editor [content]="content"></app-color-palette-editor>
      </ng-template>

    </app-group>

  </ng-template>

  
  <ng-template #sectionTreeTemplate let-groups>
    <app-section-tree [groups]="groups" [leafTemplate]="leafTemplate">
      <ng-template #leafTemplate let-token let-leafDefaultTemplate="leafDefaultTemplate">

        <ng-container *ngFor="let tints of token.tint.reverse()">
          <ng-container *ngTemplateOutlet="leafDefaultTemplate; context: {$implicit: tints}"></ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="leafDefaultTemplate; context: {$implicit: token}"></ng-container>

        <ng-container *ngFor="let shades of token.shade">
          <ng-container *ngTemplateOutlet="leafDefaultTemplate; context: {$implicit: shades}"></ng-container>
        </ng-container>
      </ng-template>
    </app-section-tree>
  </ng-template>
</app-group-list>
