<div class="justify-between container">
  <app-select-split-item
    position="start" role="button"
    nz-popover
    [(nzPopoverVisible)]="nextThemeEditorVisible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="nextThemeEditorTemplate"
    nz-tooltip nzTooltipTitle="add a theme"   nzTooltipPlacement="bottom"
  >
    <i nz-icon nzType="plus" nzTheme="outline">
      <ng-template #nextThemeEditorTemplate>
        <div class="popover-content">
          <p class="popover-header">Theme name</p>
          <div class="popover-body">
            <input nz-input [(ngModel)]="nextThemeName" />
            <button nz-button nzType="primary" (click)="addTheme()">Save</button>
          </div>
        </div>
      </ng-template>
    </i>
  </app-select-split-item>

  <app-select-split-item>
    <nz-select
      [ngModel]="themes.selected"
      nzShowSearch
      (ngModelChange)="themes.selectTheme($event)"
    >
      <ng-container *ngFor="let item of themes.list">
        <nz-option
          [nzValue]="item"
          [nzLabel]="item.name"
        ></nz-option>
      </ng-container>

    </nz-select>
  </app-select-split-item>

  <app-select-split-item
    role="button"
    nz-tooltip nzTooltipTitle="rename" nzTooltipPlacement="bottom"
    nz-popover
    [(nzPopoverVisible)]="currentThemeEditorVisible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="currentThemeEditorTemplate"
    (nzPopoverVisibleChange)="onCurrentThemeEditorOpen()"
  >
    <i nz-icon nzType="edit" nzTheme="outline">
      <ng-template #currentThemeEditorTemplate>
        <div class="popover-content">
          <p class="popover-header">Theme name</p>
          <div class="popover-body">
            <input nz-input [(ngModel)]="currentThemeName" />
            <button nz-button nzType="primary" (click)="renameTheme()">Rename</button>
          </div>
        </div>
      </ng-template>
    </i>
  </app-select-split-item>

  <app-select-split-item
    position="end" role="button"
    nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
  >
    <i nz-icon nzType="more" nzTheme="outline"></i>
  </app-select-split-item>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="deleteTheme()">Delete</li>
    </ul>
  </nz-dropdown-menu>
</div>