<div
  class="dropzone"
  (click)="inputFileRef.click()"
  (dragenter)="onDragEnter($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  (dragleave)="onDragLeave()"
  [class.active]="isDropZoneActive"
> Drag file here or click to select</div>
<p class="dropzone-meta">{{ ALLOWED_FILES.join(', ') }}</p>

<input
  #inputFileRef
  [accept]="ALLOWED_FILES.join(',')"
  type="file"
  hidden
  (change)="onDropZoneClick($event)"
>

<div *ngIf="fontPreview.isActive" class="font-preview-block">
  <p [style.font-family]="'CustomFontPreview'" class="font-preview-text">
    Quick brown fox jumped over the lazy red dog
  </p>

  <input
    id="fontPreviewInput"
    class="font-preview-input"
    nz-input
    [(ngModel)]="fontFamily"
    (blur)="onBlur()"
  >
  <button class="font-preview-btn" nz-button nzType="primary" (click)="saveFont()">Save</button>
</div>