<div class="slider" nz-row [nzGutter]="12" nzAlign="bottom">
  <div class="slider-body" nz-col nzSpan="16">
    <p class="editor-label">{{ title }}</p>
    <nz-slider
      [nzMin]="min"
      [nzMax]="max"
      [nzStep]="step"
      [(ngModel)]="model"
      (ngModelChange)="modelChange.emit($event)"
      (nzOnAfterChange)="afterModelChange.emit($event)"
    ></nz-slider>
  </div>
  <div class="input-number" nz-col nzSpan="8">
    <nz-input-group
      *ngIf="units !== 'none'; else inputRef"
      [nzAddOnAfter]="units"
    >
      <ng-container *ngTemplateOutlet="inputRef"></ng-container>
    </nz-input-group>

    <ng-template #inputRef>
      <nz-input-number
        [nzMin]="min"
        [nzMax]="max"
        [nzStep]="step"
        [(ngModel)]="model"
        (ngModelChange)="onInputChange()"
      ></nz-input-number>
    </ng-template>
  </div>
</div>

