<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
></app-group-list>

<!-- group -->

<ng-template #groupTemplate let-group>
  <div class="group">
    <app-group-header
      [group]="group"
      [groupEditorTemplate]="editorGroupTemplate"
      [customButtonsTemplate]="customButtonsTemplate"
    ></app-group-header>

    <ng-template #customButtonsTemplate>
      <i (click)="toggleViewOptions()" class="icon-btn" nz-icon nzType="eye" nzTheme="outline"></i>
    </ng-template>

    <ng-container *ngIf="isViewOptionsOpen">
      <app-group-view-list
        [options]="viewOptions"
        [group]="group"
      ></app-group-view-list>
      <div class="divider"></div>
    </ng-container>

    <ng-container *ngFor="let token of group.tokens">
      <app-token
        [token]="token"
        [group]="group"
        [previewTemplate]="tokenTemplate"
        [editorTemplate]="editorTemplate"
        [nameVisible]="group.view !== 'minimal'"
      ></app-token>

      <div [class]="'space-vertical space-vertical-' + (group.view !== 'minimal' ? 'lg' : 'xs')"></div>

      <!-- token's preview -->
      
      <ng-template #tokenTemplate let-data>
        <app-text-preview
          (click)="data.openEditor()"
          [token]="data.token"
          [group]="data.group"
        ></app-text-preview>
      </ng-template>
      
      <!-- token's editor -->

      <ng-template #editorTemplate let-content>
        <app-text-styles-editor [content]="content"></app-text-styles-editor>
      </ng-template>
    </ng-container>
  </div>
</ng-template>

<!-- group's editor -->

<ng-template #editorGroupTemplate let-group>
  <app-modular-scale-editor
    [group]="group"
    title="Base Font Size"
  ></app-modular-scale-editor>
</ng-template>

<!-- tree -->

<ng-template #sectionTreeTemplate let-groups>
  <app-section-tree [groups]="groups"></app-section-tree>
</ng-template>