<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenTemplate"
      [tokenEditorTemplate]="editorTokenTemplate"
      [groupEditorTemplate]="editorGroupTemplate"
    >
      <ng-template #tokenTemplate let-token>
        <app-text-preview [token]="token"></app-text-preview>
      </ng-template>
    </app-group>
  </ng-template>
</app-group-list>

<ng-template #editorTokenTemplate let-content>
  <app-text-styles-editor [content]="content"></app-text-styles-editor>
</ng-template>

<ng-template #editorGroupTemplate let-group>
  <app-modular-scale-editor
    [group]="group"
    title="Base Font Size"
  ></app-modular-scale-editor>
</ng-template>

<ng-template #sectionTreeTemplate let-groups>
  <app-section-tree [groups]="groups"></app-section-tree>
</ng-template>