<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenTemplate"
      [tokenEditorTemplate]="editorTemplate"
    >
      <ng-template #tokenTemplate let-token let-group="group">
        <div class="preview" [style.border-radius]="token.radius + 'px'"></div>
      </ng-template>
    </app-group>
  </ng-template>

  <ng-template #editorTemplate let-content>
    <app-slider
      title="Radius"
      [min]="0"
      [max]="50"
      [(model)]="content.token.radius"
      (modelChange)="content.token.radius = $event"
      (afterModelChange)="setTokenValue($event, content.token, content.group)"
    ></app-slider>
  </ng-template>

  <ng-template #sectionTreeTemplate let-groups>
    <app-section-tree [groups]="groups"></app-section-tree>
  </ng-template>


</app-group-list>