<header class="section-header justify-between">
  <h2>{{ sectionName }}</h2>
  <div class="actions">
    <i
      class="icon-btn"
      nz-tooltip nzTooltipTitle="add group" nzTooltipPlacement="bottom"
      nz-icon nzType="plus" nzTheme="outline" (click)="addGroup()"></i>
    <ng-container *ngIf="canUseClipboard()">
      <div class="space-horizontal space-horizontal-xxxs"></div>
      <i
        class="icon-btn"
        nz-icon nzType="snippets" nzTheme="outline"
        nz-tooltip nzTooltipTitle="past group" nzTooltipPlacement="bottom"
        (click)="pastGroup()"></i>
    </ng-container>
  </div>
</header>