<app-editor-block>
  <app-slider
    [title]="title"
    [min]="minBase"
    [max]="maxBase"
    [(model)]="base"
    (afterModelChange)="updateModularScale()"
    [units]="units"
  ></app-slider>
</app-editor-block>

<app-editor-block>
  <div class="justify-between">
    <p class="label">Scale Ratio</p>
    <nz-input-number
      *ngIf="ratio.name === 'Custom'"
      [nzMin]="1"
      [nzMax]="2"
      [nzStep]="0.01"
      [(ngModel)]="ratio.value"
      (ngModelChange)="setCustomRatio($event)"
    ></nz-input-number>
  </div>
  <div class="space-vertical space-vertical-xxs"></div>
  <nz-select
    [ngModel]="ratio"
    (ngModelChange)="setPresetRatio($event)"
  >
    <nz-option
      *ngFor="let presetRatio of MODULAR_SCALE_PRESETS"
      [nzValue]="presetRatio"
      [nzLabel]="presetRatio.name"
    ></nz-option>
  </nz-select>
</app-editor-block>