<app-editor-block>
  <app-slider
    [title]="title"
    [min]="minBase"
    [max]="maxBase"
    [(model)]="base"
    (afterModelChange)="updateModularScale()"
    [units]="units"
  ></app-slider>
</app-editor-block>

<app-editor-block>
  <div class="justify-between">
    <p class="label">Scale Ratio</p>
    <app-slider
      *ngIf="ratio.name === 'Custom'"
      [displaySlider]="false"
      [min]="1"
      [max]="2"
      [step]="0.01"
      [(model)]="ratio.value"
      (modelChange)="setCustomRatio($event)"
      units="none"
    ></app-slider>
  </div>
  <div class="space-vertical space-vertical-xxs"></div>
  <nz-select
    [ngModel]="ratio"
    (ngModelChange)="setPresetRatio($event)"
  >
    <nz-option
      *ngFor="let presetRatio of MODULAR_SCALE_PRESETS"
      [nzValue]="presetRatio"
      [nzLabel]="presetRatio.name"
    ></nz-option>
  </nz-select>
</app-editor-block>