<header class="group-header">
  <!-- <i nz-icon nzType="down" nzTheme="outline"></i> -->
  <div class="group-name">
    <app-text-editable
      #editableText
      [text]="group.name"
      (blur)="renameGroup($event, editableText)"
      [makeUneditableOnBlur]="false"
    >
      <h4 class="overflow-ellipsis">{{ group.name }}</h4>
    </app-text-editable>
  </div>

  <div class="actions">
    <i
      *ngIf="canAddToken()"
      nz-tooltip nzTooltipTitle="add token" nzTooltipPlacement="bottom"
      class="icon-btn" nz-icon nzType="plus" nzTheme="outline" 
      (click)="addToken()"
    ></i>

    <i
      *ngIf="canDuplicate()"
      nz-tooltip nzTooltipTitle="duplicate group" nzTooltipPlacement="bottom"
      class="icon-btn" nz-icon nzType="block" nzTheme="outline"
      (click)="duplicateGroup()"
    ></i>

    <i
      *ngIf="groupEditorTemplate && canEdit()"
      nz-tooltip nzTooltipTitle="edit group" nzTooltipPlacement="bottom" 
      class="icon-btn"
      nz-icon nzType="edit"
      nzTheme="outline"
      (click)="openEditor(editor)"
    >
      <ng-template #editor>
        <ng-container *ngTemplateOutlet="groupEditorTemplate; context: {$implicit: group}"></ng-container>
      </ng-template>
    </i>
    
    <ng-container *ngIf="customButtonsTemplate">
      <ng-container *ngTemplateOutlet="customButtonsTemplate; context: {$implicit: group}"></ng-container>
    </ng-container>

    <i
      class="icon-btn"
      nz-icon nzType="more" nzTheme="outline"
      nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
    >
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li *ngIf="canDelete()" nz-menu-item (click)="deleteGroup()">Delete Group</li>
          <li *ngIf="canUseClipboard() && canPast()" nz-menu-item (click)="pastToken()">Past Token</li>
          <li *ngIf="canUseClipboard() && canCopy()" nz-menu-item (click)="copyGroup()">Copy Group</li>
        </ul>
      </nz-dropdown-menu>
    </i>
  </div>
</header>