<div *ngIf="!contentManager.isLoading">
  <header>
    <h2>{{ sectionName }}</h2>
    <div class="actions">
      <i
        nz-tooltip nzTooltipTitle="add a group" nzTooltipPlacement="bottom"
        nz-icon nzType="plus" nzTheme="outline" (click)="addGroup()"></i>
      <i
        *ngIf="store.isClipboardActionsAvailable"
        nz-icon nzType="snippets" nzTheme="outline"
        nz-tooltip nzTooltipTitle="past a group" nzTooltipPlacement="bottom"
        (click)="contentManager.clipboard.pastGroup()"></i>
    </div>
  </header>

  <div *ngFor="let group of groupList">
    <div [id]="group.anchorLink" class="group">

      <div class="group-header">
        <app-group-header
          [group]="group"
          [contentManager]="contentManager"
        ></app-group-header>
      </div>

      <div class="container">
        <div *ngFor="let token of group.tokens" class="token-wrapper">
          <div
            class="token"
            (click)="openEditor(token, group)"
            [style.font-family]="token.value.family"
          >
            <h1>Ag</h1>
            <p>{{ token.value.family }}</p>
            <div class="dropdown-menu">
              <app-token-dropdown-menu
                (rename)="editableText.makeEditable()"
                (delete)="contentManager.deleteToken(token.id, group.id)"
                (copy)="contentManager.clipboard.copy(token)"
              ></app-token-dropdown-menu>
            </div>
          </div>

          <app-editable-text
            #editableText
            [text]="token.name"
            (blur)="contentManager.renameToken($event, token.id, group.id)"
            [customTemplate]="textTemplate"
          ></app-editable-text>

          <ng-template #textTemplate let-text>
            <p class="token-name">{{ text }}</p>
          </ng-template>

        </div>
      </div>

      <div class="add-token-btn" (click)="addToken(group.id)">
        <i nz-icon nzType="plus" nzTheme="outline" (click)="addGroup()"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="contentManager.isLoading">Loading</div>