<div *ngIf="!contentManager.isLoading">
  <header>
    <h2>{{ sectionName }}</h2>
    <p
      *ngIf="!contentManager.addGroupLoading"
      (click)="addGroup()"
    >add group</p>
    <i
      *ngIf="contentManager.addGroupLoading"
      nz-icon nzType="loading" nzTheme="outline"
    ></i>
    <p
      *ngIf="store.isClipboardActionsAvailable"
      (click)="contentManager.clipboard.pastGroup()"
    >past group</p>
  </header>

  <div *ngFor="let group of groupList">
    <div [id]="group.anchorLink" class="group">
      <app-group-header
        [group]="group"
        [contentManager]="contentManager"
      ></app-group-header>

      <ul>
        <li *ngFor="let token of group.tokens">
          <app-editable-text
            #editableText
            [text]="token.name"
            (blur)="contentManager.renameToken($event, token, group.id)"
            [customTemplate]="textTemplate"
          ></app-editable-text>

          <ng-template #textTemplate let-text>
            <span>{{ text }}</span>
          </ng-template>

          <app-token-dropdown-menu
            (rename)="editableText.makeEditable()"
            (delete)="contentManager.deleteToken(token.id, group.id)"
            (copy)="contentManager.clipboard.copyToken(token)"
          ></app-token-dropdown-menu>
        </li>
      </ul>

      <h4 (click)="addToken(group.id)">Add Token</h4>
    </div>
  </div>
</div>

<div *ngIf="contentManager.isLoading">Loading</div>