<div *ngIf="!contentManager.isLoading">
  <header>
    <h2>{{ sectionName }}</h2>
    <p
      *ngIf="!contentManager.addGroupLoading"
      (click)="addGroup()"
    >add group</p>
    <i
      *ngIf="contentManager.addGroupLoading"
      nz-icon nzType="loading" nzTheme="outline"
    ></i>
  </header>

  <div *ngFor="let group of groupList">
    <div [id]="store.getAnchorLink(group)" class="group">
      <app-group-header
        [id]="group.id"
        [name]="group.name"
        [contentManager]="contentManager"
      ></app-group-header>

      <ul>
        <li *ngFor="let token of group.tokens">
          <app-editable-text
            #editableText
            [text]="token.name"
            (blur)="renameToken($event, token, group.id)"
            [customTemplate]="textTemplate"
          ></app-editable-text>
          <ng-template #textTemplate let-text>
            <span>{{ text }}</span>
          </ng-template>

          <i
            nz-icon nzType="more" nzTheme="outline"
            nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
          ></i>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                (click)="editableText.makeEditable()"
              >Rename</li>
              <li
                nz-menu-item
                (click)="contentManager.deleteToken(token.id, group.id)"
              >Delete</li>
            </ul>
          </nz-dropdown-menu>

        </li>
      </ul>

      <h4
        *ngIf="!contentManager.addTokenLoading"
        (click)="addToken(group.id)"
      >Add Token</h4>
      <i
        *ngIf="contentManager.addTokenLoading"
        nz-icon nzType="loading" nzTheme="outline"
      ></i>
    </div>
  </div>
</div>

<div *ngIf="contentManager.isLoading">Loading</div>