<div [id]="'group-' + group.id" class="group">

  <app-group-header
    [group]="group"
    [groupEditorTemplate]="groupEditorTemplate"
  ></app-group-header>

  <ng-container *ngIf="isViewListOpen">
    <app-group-view-list
      [options]="viewOptions"
      [group]="group"
    ></app-group-view-list>
    <div class="divider"></div>
  </ng-container>

  <!-- group's body -->
  <ng-content></ng-content>
</div>

<ng-template #customButtonsTemplate>
  <i *ngIf="viewOptions.length" class="icon-btn" nz-icon nzType="eye" nzTheme="outline"
  (click)="toggleViewList()"></i>

  <ng-container *ngIf="customButtonsTemplate">
    <ng-container *ngTemplateOutlet="customButtonsTemplate; context: {$implicit: {group: group}}"></ng-container>
  </ng-container>
</ng-template>
