<div class="container">
  <div class="content">
    <div class="header">
      <h2 class="title">Create Your First Theme</h2>
      <div class="radio-group">
        <nz-radio-group [(ngModel)]="radioValue">
          <label nz-radio nzValue="empty">Empty Theme</label>
          <label nz-radio nzValue="prebuilt">Pre-built Theme</label>
        </nz-radio-group>
      </div>
    </div>

    <div class="body">
      <div class="input">
        <h5>Theme Name</h5>
        <input nz-input [(ngModel)]="themeName" />
      </div>

      <button
        *ngIf="isLoading"
        nz-button nzType="primary" nzLoading nzBlock
      >
        <i nz-icon nzType="poweroff"></i>
        Add theme
      </button>

      <button
        *ngIf="!isLoading"
        (click)="addTheme()"
        nz-button nzType="primary" nzBlock
      >Add theme</button>
    </div>
  </div>
</div>