@import "design-tokens";

// tmp
.container {
  min-height: 100vh;
}

.row {
  height: 100vh;
}

.toolbar {
  position: relative;
}

.toolbar-wrapper {
  position: fixed;
  background-color: @color-contrast-lower;
  height: 100%;
  width: 65px;
}

main {
  height: 100vh;
}

.content {
  background-color: @color-contrast-lower;
  padding: @space-xxl 0;
}

.content-wrapper {
  max-width: 490px;
  margin: 0 auto;
}