<app-editor-card [hasBody]="!variants.list.length">
  <div header class="justify-between">
    <h5 class="label">{{ title }}</h5>
    <div class="align-center">
      <i class="icon-btn" nz-icon nzType="minus" nzTheme="outline" (click)="variants.delete()" *ngIf="variants.list.length"></i>
      <div class="space-horizontal-xxxs"></div>
      <i class="icon-btn" nz-icon nzType="plus" nzTheme="outline" (click)="variants.add()"></i>
    </div>
  </div>

  <div body>
    <div class="variants-grid">
      <div
        class="variant"
        *ngFor="let variant of variants.list" 
        [style.background]="variant.color"
      ></div>
    </div>

    <div class="space-vertical space-vertical-sm"></div>

    <div nz-row [nzGutter]="12" nzAlign="middle">
      <div nz-col nzSpan="8">
        <h5 class="text-subtle">{{ mixRatioName }}</h5>
      </div>
      <div nz-col nzSpan="16">
        <app-slider
          [min]="1"
          [max]="100"
          [displayInput]="false"
          [(model)]="variants.configs.mixRatio"
          (modelChange)="variants.recalculateColors({save: false})"
          (afterModelChange)="variants.updateConfigs()"
        ></app-slider>
      </div>
    </div>

    <div class="space-vertical space-vertical-xxxs"></div>
  
    <div nz-row [nzGutter]="12" nzAlign="middle">
      <div nz-col nzSpan="8">
        <h5 class="text-subtle">Saturation</h5>
      </div>
      <div nz-col nzSpan="16">
        <app-slider
          [min]="1"
          [max]="100"
          [displayInput]="false"
          [(model)]="variants.configs.saturation"
          (modelChange)="variants.recalculateColors({save: false})"
          (afterModelChange)="variants.updateConfigs()"
        ></app-slider>
      </div>
    </div>
  </div>
</app-editor-card>

<div class="space-vertical space-vertical-xl"></div>