<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div class="container">
    <div nz-row class="row">

      <div class="toolbar" nz-col nzFlex="65px">
        <div class="toolbar-wrapper">
          <app-toolbar></app-toolbar>
        </div>
      </div>

      <div nz-col nzFlex="270px">
        <app-explorer></app-explorer>
      </div>

      <main nz-col nzFlex="auto">
        <app-header></app-header>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</div>