<div class="wrapper">
  <div class="layer-header control-header">
    <i 
      *ngIf="canDeleteLayer"
      nz-icon nzType="delete" nzTheme="outline" 
      (click)="deleteLayer()"></i>
    <i
      nz-icon nzType="down" nzTheme="outline"
      (click)="toggleVisibility()"></i>
  </div>
  <div class="layer-body" [class.hidden]="isHidden">
    <app-slider
      title="Offset X"
      [min]="-15"
      [max]="15"
      [(model)]="offsetX"
      (modelChange)="changeValue('offsetX')"
      (afterModelChange)="saveValue()"
    ></app-slider>
 
    <app-slider
      title="Offset Y"
      [min]="-15"
      [max]="15"
      [(model)]="offsetY"
      (modelChange)="changeValue('offsetY')"
      (afterModelChange)="saveValue()"
    ></app-slider>

    <app-slider
      title="Blur"
      [min]="0"
      [max]="20"
      [(model)]="blur"
      (modelChange)="changeValue('blur')"
      (afterModelChange)="saveValue()"
    ></app-slider>

    <app-slider
      title="Spread"
      [min]="-15"
      [max]="15"
      [(model)]="spread"
      (modelChange)="changeValue('spread')"
      (afterModelChange)="saveValue()"
    ></app-slider>

    <div class="control-header inset">
      <p>Inset</p>
      <nz-switch
        [(ngModel)]="inset"
        (ngModelChange)="toggleInset()"
      ></nz-switch>
    </div>

    <div class="control-header shadow-color">
      <p>Color</p>
      <app-color-picker
        [color]="color"
        (colorChange)="changeColor($event)"
        (colorSave)="saveValue()"
      ></app-color-picker>
    </div>

  </div>
</div>