<div [id]="'token-' + token.id" class="wrapper">
  <ng-container *ngTemplateOutlet="previewTemplate; context: {$implicit: {token: token, group: group, openEditor: openEditor}}"></ng-container>
  
  <app-token-actions
    [token]="token"
    [group]="group"
    [editorTemplate]="editorTemplate"
  ></app-token-actions>

  <ng-container *ngIf="nameVisible">
    <div class="space-vertical space-vertical-xs"></div>
    <app-token-name [token]="token"></app-token-name>
  </ng-container>

</div>

<ng-template #editor>
  <ng-container *ngTemplateOutlet="editorTemplate; context: {$implicit: {token: token, group: group}}"></ng-container>
</ng-template>