<div [id]="'token-' + token.id">
  <div class="token">
    <ng-container *ngTemplateOutlet="previewTemplate; context: {$implicit: token, group: group}"></ng-container>

    <app-token-actions
      [token]="token"
      [group]="group"
      [editorTemplate]="editorTemplate"
      [editableText]="editableText"
    ></app-token-actions>
  </div>

  <app-text-editable
    #editableText
    [text]="token.name"
    (blur)="rename($event, editableText)"
    [makeUneditableOnBlur]="false"
  >
    <p class="token-name">{{ token.name }}</p>
  </app-text-editable>

</div>