<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenTemplate]="tokenTemplate"
      [tokenEditorTemplate]="editorTemplate"
    >
      <ng-template #tokenTemplate let-token let-group="group">
        <div class="token">
          <span>{{ token.name }} : </span>
          <span>{{ token.value }}</span>
          <app-token-actions
            [token]="token"
            [group]="group"
            [editorTemplate]="editorTemplate"
          ></app-token-actions>
        </div>

      </ng-template>

      <ng-template #editorTemplate let-content>
        <app-custom-tokens-editor [content]="content"></app-custom-tokens-editor>
      </ng-template>
    </app-group>
  </ng-template>

  <ng-template #sectionTreeTemplate let-groups>
    <app-section-tree [groups]="groups"></app-section-tree>
  </ng-template>
</app-group-list>
