<div class="tree">
  <div class="node">

    <div
      class="header justify-between"
      [class.isExpanded]="!isNodeHidden(0)"
      (click)="toggleNode(0)"
    >
      <h3>{{ section.name }}</h3>
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </div>
  
    <div
      class="children"
      [class.invisible]="isNodeHidden(0)"
    >
      <div class="node" *ngFor="let group of groups">
  
        <div
          class="header justify-between"
          [class.isExpanded]="!isNodeHidden(group.id)"
          (click)="toggleNode(group.id)"
        >
          <p class="group-name">{{ group.name }} <span class="count">({{ group.tokens.length }})</span></p>
          <i nz-icon nzType="down" nzTheme="outline"></i>
        </div>
  
        <div
          class="children"
          [class.invisible]="isNodeHidden(group.id)"
        >
          <div
            class="leaf"
            *ngFor="let token of group.tokens"
          >
            <a class="link" [routerLink]="['./']"  [fragment]="'token-' + token.id">{{ token.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>