<header class="group-header">
  <app-text-editable
    #editableText
    [text]="group.name"
    (blur)="renameGroup($event, editableText)"
    [makeUneditableOnBlur]="false"
  >
    <h3>{{ group.name }}</h3>
  </app-text-editable>

  <div>
    <i
      *ngIf="isGroupEditable"
      nz-icon nzType="edit"
      nzTheme="outline"
      (click)="openEditor()"
    ></i>
  
    <i
      nz-icon nzType="more" nzTheme="outline"
      nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
    >
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="deleteGroup()">Delete</li>
          <li nz-menu-item (click)="editableText.makeEditable()">Rename</li>
          <li *ngIf="canUseClipboard()" nz-menu-item (click)="pastToken()">Past Token</li>
          <li *ngIf="canUseClipboard()" nz-menu-item (click)="copyGroup()">Copy Group</li>
        </ul>
      </nz-dropdown-menu>
    </i>
  </div>
</header>