<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenTemplate"
      [groupEditorTemplate]="editorGroupTemplate"
      [tokenEditorTemplate]="editorTokenTemplate"
    >
      <ng-template #tokenTemplate let-token let-group="group">
        <p>{{ token.modularScaleTokenValue + 'ms' }}</p>
      </ng-template>

      <ng-template #editorGroupTemplate let-group>
        <app-modular-scale-editor
          [group]="group"
          [minBase]="1"
          [maxBase]="2500"
        ></app-modular-scale-editor>
      </ng-template>

      <ng-template #editorTokenTemplate let-content>
        <app-modular-scale-editor-token
          [content]="content"
          title="Duration"
        ></app-modular-scale-editor-token>
      </ng-template>

    </app-group>
  </ng-template>

  <ng-template #sectionTreeTemplate let-groups>
    <app-section-tree [groups]="groups"></app-section-tree>
  </ng-template>
</app-group-list>
