<div
  class="color-preview"
  [style.background-color]="color"
  nz-popover
  nzPopoverTrigger="click"
  [(nzPopoverVisible)]="isPopoverVisible"
  [nzPopoverContent]="popoverContentTemplate"
  nzPopoverPlacement="bottom"
  (click)="togglePopover()"
></div>

<ng-template #popoverContentTemplate>
  <div class="container">
    <input
      [style.background]="color"
      [(colorPicker)]="color"
      [cpDialogDisplay]="'inline'"
      [cpToggle]="true"
      (colorPickerChange)="onColorPickerChange($event)"
    />

    <div class="preset-colors-wrapper">
      <nz-tabset>
        <nz-tab nzTitle="Current Theme">
          <app-color-picker-preset
            [tokens]="currentThemeColors"
            (colorSelect)="onPresetColorSelect($event)"
          ></app-color-picker-preset>
        </nz-tab>
        <nz-tab nzTitle="Other Themes">
          <div *ngFor="let theme of colorsByTheme" class="theme-colors">
            <p class="theme-name">{{ theme.themeName }}</p>
            <app-color-picker-preset
              [tokens]="theme.tokens"
              (colorSelect)="onPresetColorSelect($event)"
            ></app-color-picker-preset>
          </div>
        </nz-tab>
      </nz-tabset>

    </div>
  </div>
</ng-template>