.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.container {
  input {
    display: none;
  }
}

.preset-colors {
  max-height: 200px;
  overflow-y: auto;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-auto-rows: 30px;
}

.preset-color {
  cursor: pointer;
  border-radius: 100%;
}