@import "design-tokens";
@import "mixins";
@import "styles";

@popover-width: 230px;
@popover-max-height: 360px;

.color-picker-popover {
  width: @popover-width;
  max-height: @popover-max-height;

  .color-picker-container {
    & > input {
      display: none;
    }
  }
  
  .color-presets-header {
    .color-presets-view {
      .anticon {
        cursor: pointer;
        &.active {
          color: @color-primary;
        }
      }
    }
  
    .color-presets-source {
      span {
        font-size: @text-sm;
        margin-right: @space-xs;
        color: @color-contrast-high;
        font-weight: 500;
      }
    }  
  }

  .color-presets-container {
    max-height: 255px;
    overflow-y: scroll;
    margin-left: -6%;
    width: 112%;
  

    .theme-name {
      padding-left: 6%;
      color: @color-contrast-high;
      font-size: @text-sm;
      font-weight: 500;
      margin-bottom: @space-xxs;
    }
  
    .theme-color-presets:not(:last-child) {
      margin-bottom: @space-lg;
    }
  }
}

@color-preview-width: 15px;
@color-preview-height: 30px;

.color-preview-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

}

.color-preview {
  width: @color-preview-width;
  height: @color-preview-height;
  border-radius: @border-radius-sm 0 0 @border-radius-sm;
  margin-right: 4px;
}

.color-preview-hex-text {
  background: @color-bg-30;
  padding: 0 @space-sm;
  border-radius: 0 @border-radius-sm @border-radius-sm 0;
  height: @color-preview-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: @text-sm;
  text-transform: uppercase;
  border: 1px solid transparent;
  flex-grow: 1;
  &:hover {
    border: 1px solid @color-primary;
    transition: all @animation-duration-slow;
  }
}

.light-mode {
  .color-preview-hex-text {
    background-color: @color-bg-15;
  }
}