.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.container {
  input {
    display: none;
  }
}

.preset-colors-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

.theme-colors {
  background: #1b1b22;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.theme-name {
  font-size: 14px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid #272727;
}