<div
  [class.light-mode]="mode === 'light'"
  nz-popover
  nzPopoverTrigger="click"
  [(nzPopoverVisible)]="isPopoverVisible"
  [nzPopoverContent]="popoverContentTemplate"
  nzPopoverPlacement="right"
  (click)="togglePopover()"
>
  <div class="color-preview-wrapper">
    <div
      class="color-preview"
      [style.background-color]="color"
    ></div>
  
    <div class="color-preview-hex-text">
      <p>{{ getColor() }}</p>
    </div>
  </div>
</div>


<ng-template #popoverContentTemplate>
  <div class="color-picker-popover">
    <div class="on-bg-30">
      <nz-radio-group [(ngModel)]="radioValue">
        <label nz-radio-button nzValue="color-picker">Color Picker</label>
        <label nz-radio-button nzValue="presets">Presets</label>
      </nz-radio-group>
      <div class="space-vertical space-vertical-lg"></div>
    </div>

    <div
      class="color-picker-container"
      *ngIf="radioValue === 'color-picker'"
    >
      <input
        [style.background]="color"
        [(colorPicker)]="color"
        [cpDialogDisplay]="'inline'"
        [cpToggle]="true"
        (colorPickerChange)="onColorPickerChange($event)"
      />
    </div>

    <div *ngIf="radioValue === 'presets'">
      <div class="color-presets-header justify-between">
        <div class="color-presets-view">
          <i
            [class.active]="view === 'list'"
            nz-icon nzType="unordered-list" nzTheme="outline"
            (click)="view = 'list'"
          ></i>
          <div class="space-horizontal space-horizontal-xxs"></div>
          <i
            [class.active]="view === 'grid'"
            nz-icon nzType="appstore" nzTheme="outline"
            (click)="view = 'grid'"
          ></i>
        </div>
    
        <div class="color-presets-source align-center">
          <span>Source: All Themes</span>
          <nz-switch
            [(ngModel)]="allThemes"
            (ngModelChange)="allThemes = $event"
          ></nz-switch>
        </div>
      </div>
      <div class="space-vertical space-vertical-sm"></div>


      <ng-container *ngIf="!allThemes">
        <div class="color-presets-container">
          <app-color-picker-preset
            [tokens]="currentThemeColors"
            (colorSelect)="onPresetColorSelect($event)"
            [view]="view"
          ></app-color-picker-preset>
        </div>
      </ng-container>

      <ng-container *ngIf="allThemes">
        <div class="color-presets-container">
          <div 
            *ngFor="let theme of colorsByTheme" 
            class="theme-color-presets"
          >
            <p class="theme-name">{{ theme.themeName }}</p>
            <app-color-picker-preset
              [tokens]="theme.tokens"
              (colorSelect)="onPresetColorSelect($event)"
              [view]="view"
            ></app-color-picker-preset>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>