<app-group-list [groupTemplate]="groupTemplate">
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenTemplate"
      [tokenEditorTemplate]="editorTemplate"
    >
      <ng-template #tokenTemplate let-token>
        <div
          class="token"
          [style.background-color]="token.backgroundColor"
        >
          <div class="block" [style]="getBlockStyle(token)"></div>
        </div>
      </ng-template>

      <ng-template #editorTemplate let-content>
        <app-box-shadow-editor [content]="content"></app-box-shadow-editor>
      </ng-template>
    </app-group>
  </ng-template>
</app-group-list>
