<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
></app-group-list>

<ng-template #groupTemplate let-group>
  <div class="group">
    <app-group-header [group]="group"></app-group-header>

    <!-- group's body -->
    <div class="tokens-view-grid">
      <ng-container *ngFor="let token of group.tokens">
        <app-token
          [token]="token"
          [group]="group"
          [previewTemplate]="tokenTemplate"
          [editorTemplate]="editorTemplate"
        ></app-token>

        <!-- token's preview -->
        <ng-template #tokenTemplate let-data>
          <div
            class="token-card token-interactive"
            [style.background-color]="data.token.backgroundColor"
            (click)="data.openEditor()"
          >
            <div
              class="block"
              [style]="getBlockStyle(data.token)"
            ></div>
          </div>
        </ng-template>

        <!-- token's editor -->
        <ng-template #editorTemplate let-content>
          <app-box-shadow-editor [content]="content"></app-box-shadow-editor>
        </ng-template>

      </ng-container>
    </div>
  </div>
</ng-template>


<ng-template #sectionTreeTemplate let-groups>
  <app-section-tree [groups]="groups"></app-section-tree>
</ng-template>