<div>
  <header>
    <div class="heading" (click)="editor.disable()">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      <h3>Type face</h3>
    </div>

    <div class="action-list">
      <i nz-icon nzType="reload" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Reload'" nzTooltipPlacement="bottom"></i>

      <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip  [nzTooltipTitle]="'Delete'" nzTooltipPlacement="bottom" (click)="contentManager.deleteToken(content.token.id, content.group.id)"></i>
    </div>

  </header>

  <div class="content">
    <label for="name">Name</label>
    <input id="name" nz-input [(ngModel)]="tokenName" (blur)="onBlur()" />

    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio-button nzValue="google-fonts">Google Fonts</label>
      <label nz-radio-button nzValue="custom-font">Custom Font</label>
    </nz-radio-group>

    <app-google-fonts
      (save)="saveFont($event)"
      *ngIf="radioValue === 'google-fonts'"
    ></app-google-fonts>

    <app-custom-font
      (save)="saveFont($event)"
      *ngIf="radioValue === 'custom-font'"
    ></app-custom-font>
  </div>
</div>