@import "styles";

:host {
  align-self: stretch;
}

.item {
  cursor: pointer;
  background: var(--color-bg-30);
  border-radius: 0;
  margin-right: 4px;
  height: 100%;

  &.first {
    border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
  }
  &.last {
    margin-right: 0;
    border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  transition: all 0.3s;
  border: 1px solid transparent;

  &.active, &:hover {
    border: 1px solid var(--color-primary);
  }
}