<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
  [codePreviewTemplate]="codePreviewTemplate"
></app-group-list>

<ng-template #groupTemplate let-group>
  <div class="group">
    <app-group-header
      [group]="group"
      [groupEditorTemplate]="editorGroupTemplate"
    ></app-group-header>

    <!-- group's body -->

    <div class="tokens-view-table">
      <div class="thead">
        <p>Name</p>
        <p>Size</p>
      </div>
      <ng-container *ngFor="let token of group.tokens; let even = even">
        <app-token
          [token]="token"
          [group]="group"
          [previewTemplate]="tokenTemplate"
          [editorTemplate]="editorTemplate"
          [nameVisible]="false"
        ></app-token>

        <!-- token's preview -->
        <ng-template #tokenTemplate let-data>
          <div
            class="tr token-interactive"
            [ngClass]="{ even: even }"
            (click)="data.openEditor()"
          >
            <app-token-name class="name" [token]="token"></app-token-name>
            <p class="value">
              {{ tokens.getStyleValue(data.token) }}
            </p>
            <div
              class="preview"
              [style.width]="tokens.getStyleValue(data.token)"
              [style.height]="tokens.getStyleValue(data.token)"></div>
          </div>
        </ng-template>

        <!-- token's editor -->
        <ng-template #editorTemplate let-content>
          <app-modular-scale-editor-token
            [content]="content"
            title="Spacing"
          ></app-modular-scale-editor-token>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #editorGroupTemplate let-group>
  <app-modular-scale-editor
    [group]="group"
    [minBase]="1"
    [maxBase]="30"
  ></app-modular-scale-editor>
</ng-template>

<ng-template #sectionTreeTemplate let-groups>
  <app-section-tree [groups]="groups"></app-section-tree>
</ng-template>

<ng-template #codePreviewTemplate let-data>
  <app-section-code-preview [data]="data"></app-section-code-preview>
</ng-template>
