<app-group-list [groupTemplate]="groupTemplate">
  <ng-template #groupTemplate let-group>
    <app-group [group]="group" [tokenPreviewTemplate]="tokenTemplate">
      <ng-template #tokenTemplate let-token let-group="group">
        <app-token-editable
          [isEditable]="!group.state.scale"
          [minValue]="MIN_VALUE"
          [maxValue]="MAX_VALUE"
          [value]="token.value"
          [previewTemplate]="tokenPreviewRef"
          (onAfterChange)="section.setTokenValue($event, token.id, group.id)"
        >
          <ng-template #tokenPreviewRef let-value>
            <p>{{ value + 'px' }}</p>
          </ng-template>
        </app-token-editable>
      </ng-template>
    </app-group>
  </ng-template>
</app-group-list>