<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
>
  <ng-template #groupTemplate let-group>
    <app-group
      [group]="group"
      [tokenPreviewTemplate]="tokenTemplate"
      [groupEditorTemplate]="editorTemplate"
    >
      <ng-template #tokenTemplate let-token let-group="group">
        <app-token-editable
          [step]="0.1"
          [minValue]="1"
          [maxValue]="4"
          [value]="token.value"
          [previewTemplate]="tokenPreviewRef"
          (onAfterChange)="setTokenValue($event, token, group)"
        >
          <ng-template #tokenPreviewRef let-value>
            <app-text-preview
              [textPreviewId]="group.textPreviewId"
              [templateRef]="textPreview"
            >
              <ng-template #textPreview let-preview>
                <p [style]="{'lineHeight': value}">{{preview.text}}</p>
              </ng-template>
            </app-text-preview>
          </ng-template>
        </app-token-editable>
      </ng-template>

      <ng-template #editorTemplate let-group>
        <app-line-height-editor [group]="group"></app-line-height-editor>
      </ng-template>
    </app-group>
  </ng-template>

  <ng-template #sectionTreeTemplate let-groups>
    <app-section-tree [groups]="groups"></app-section-tree>
  </ng-template>
</app-group-list>