<div class="wrapper">
  <div>
    <p>Color</p>
    <app-color-picker
      [color]="token.value.color"
      (colorChange)="changeColor($event)"
      (colorSave)="updateTokenValue()"
    ></app-color-picker>
  </div>
  <br />
  <app-slider
    title="Width"
    [min]="0"
    [max]="15"
    [(model)]="token.value.width"
    (modelChange)="changeWidth($event)"
    (afterModelChange)="updateTokenValue()"
  ></app-slider>
  <br />
  <div>
    <p>Style</p>
    <nz-select
      [ngModel]="token.value.style"
      (ngModelChange)="changeStyle($event)"
    >
      <nz-option 
        *ngFor="let style of STYLES"
        [nzValue]="style"
        [nzLabel]="style"
        nzCustomContent
      >
        <div class="style-option">
          <p class="style-name">{{ style }}</p>
          <div
            class="style-preview"
            [style.border-style]="style"
          ></div>
        </div>
      </nz-option>
    </nz-select>
  </div>
</div>