<div class="wrapper">
  <app-editor-block title="Color" [inline]="true">
    <app-color-picker
      [color]="token.color"
      (colorChange)="changeColor($event)"
      (colorSave)="saveColor()"
    ></app-color-picker>
  </app-editor-block>

  <app-editor-block>
    <app-slider
      title="Width"
      [min]="0"
      [max]="15"
      [(model)]="token.width"
      (modelChange)="changeWidth($event)"
      (afterModelChange)="saveWidth()"
    ></app-slider>
  </app-editor-block>

  <app-editor-block title="Style" [inline]="true">
    <nz-select
      [ngModel]="token.style"
      (ngModelChange)="changeStyle($event)"
    >
      <nz-option 
        *ngFor="let style of STYLES"
        [nzValue]="style"
        [nzLabel]="style"
        nzCustomContent
      >
        <div class="justify-between">
          <p>{{ style }}</p>
          <div
            class="style-preview"
            [style.border-style]="style"
          ></div>
        </div>
      </nz-option>
    </nz-select>
  </app-editor-block>
</div>