<app-group-list
  [groupTemplate]="groupTemplate"
  [sectionTreeTemplate]="sectionTreeTemplate"
  [codePreviewTemplate]="codePreviewTemplate"
></app-group-list>

<!-- group -->

<ng-template #groupTemplate let-group>
  <div class="group">
    <app-group-header [group]="group"></app-group-header>

    <div class="tokens-view-grid">
      <ng-container *ngFor="let token of group.tokens">
        <app-token
          [token]="token"
          [group]="group"
          [previewTemplate]="tokenTemplate"
          [editorTemplate]="editorTemplate"
        ></app-token>

        <!-- preview -->
      
        <ng-template #tokenTemplate let-data>
          <div
            class="token-card token-interactive"
            [style.font-family]="tokens.getStyleValue(data.token)"
            (click)="data.openEditor()"
          >
            <h1>Ag</h1>
            <p>{{ tokens.getStyleValue(data.token) }}</p>
          </div>
        </ng-template>
      
        <!-- editor -->
      
        <ng-template #editorTemplate let-content>
          <app-typeface-editor [content]="content"></app-typeface-editor>
        </ng-template>
      </ng-container>
    </div>

  </div>
</ng-template>


<!-- tree -->

<ng-template #sectionTreeTemplate let-groups>
  <app-section-tree [groups]="groups"></app-section-tree>
</ng-template>

<ng-template #codePreviewTemplate let-data>
  <app-section-code-preview [data]="data"></app-section-code-preview>
</ng-template>