.header {
  margin-bottom: 4px;
  padding: var(--space-xxs) var(--space-sm);
  background: var(--color-bg-30);
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.body {
  background: var(--color-bg-30);
  padding: var(--space-lg) var(--space-sm);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
}

.collapse-content {
  .body {
    display: none;
  }

  .header {
    border-radius: var(--border-radius-md);
    margin-bottom: 0;
  }
}
