<div class="section" *ngIf="!editorSection.isLoading">
  <header class="section-header">
    <h1>{{ editorSection.sectionName }}</h1>
    <div class="section-actions">
      <div *ngIf="editorSection.configs.code.colorFormat">
        <label for="colorFormat"></label>
        <div id="colorFormat">
          <nz-select
          [ngModel]="editorSection.configs.code.colorFormat"
          (ngModelChange)="editorSection.setCodePreviewConfigs('colorFormat', $event)"
        >
          <nz-option
            *ngFor="let option of colorFormats"
            [nzValue]="option"
            [nzLabel]="option"
          ></nz-option>
        </nz-select>
        </div>
      </div>

      <div *ngIf="editorSection.configs.code.useReferences !== undefined">
        <span>Use References</span>
        <nz-switch
          [(ngModel)]="editorSection.configs.code.useReferences"
          (ngModelChange)="editorSection.setCodePreviewConfigs('useReferences', $event)"
        ></nz-switch>
      </div>
    </div>
  </header>

  <section class="section-body">
    <div class="section-body-actions">
      <div>
        <label for="fileName">FileName</label>
        <app-input-file-name
          [fileName]="editorSection.configs.fileName"
          [format]="editor.format"
          (saveFileName)="editorSection.saveFileName($event)"
        ></app-input-file-name>
      </div>
      <div>
        <p (click)="editorSection.copyCode()">Copy</p>
        <p (click)="editorSection.download()">Download</p>
      </div>
    </div>

    <app-export-code-preview></app-export-code-preview>
  </section>
</div>