/* colors */

@color-primary: #6948cb;
@color-primary-10: #ae9ce3;
@color-primary-20: #8e71d8;
@color-primary-30: #52379f;
@color-primary-40: #3c2874;

@color-bg-10: #2a2c2e;
@color-bg-20: #242628;
@color-bg-30:  #1e2022;
@color-bg-40: #181b1d;
@color-bg: #131516;

@color-contrast-lower: #363636;
@color-contrast-low: #5a5a5a;
@color-contrast-medium: #818181;
@color-contrast-high: #ababab;
@color-contrast-higher: #D6D6D6;

@color-success: #7b9f60;
@color-success-10: #bae798;
@color-success-20: #99c976;
@color-success-30: #5d714e;
@color-success-40: #3f4838;

@color-error: #af314b;
@color-error-10: #ef8097;
@color-error-20: #dc4c69;
@color-error-30: #77313f;
@color-error-40: #48282f;

@color-warning: #b3973d;
@color-warning-10: #eed689;
@color-warning-20: #d8bb5b;
@color-warning-30: #7b6b39;
@color-warning-40: #4b442d;

@color-border: @color-bg-30;


/* fonts */
     
@font-primary: Jost, Arial, sans-serif;
@font-secondary: Roboto Mono, Consolas,  Arial, sans-serif;

@text-base-size: 16px;
@text-xs: 11px;
@text-sm: 14px;
@text-md: 19px;
@text-lg: 23px;
@text-xl: 28px;
@text-xxl: 33px;
@text-xxxl: 40px;

@letter-spacing: 0.1em;


/* spacing */

@space-xxxs: 5px;
@space-xxs: 8px;
@space-xs: 10px;
@space-sm: 13px;
@space-md: 16px;
@space-lg: 20px;
@space-xl: 25px;
@space-xxl: 31px;

/* borders */

@border-radius-sm: 5px;
@border-radius-md: 9px;

/* icons */

@icon-xxxs: 8px;
@icon-xxs:  12px;
@icon-xs:   18px;
@icon-sm:   24px;
@icon-md:   32px;
@icon-lg:   48px;
@icon-xl:   64px;
@icon-xxl:  96px;
@icon-xxxl: 128px;