<div class="global-configs">
  <div class="global-configs-container">
    <div class="global-configs-wrapper">
      <label for="format">Format</label>
      <div class="global-configs-item">
        <div id="format">
          <nz-select
            [ngModel]="editor.commonConfigs.format"
            (ngModelChange)="setFormat($event)"
          >
            <nz-option 
              *ngFor="let option of formats"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </div>
      </div>
  
      <label for="prefix">Prefix</label>
      <div class="global-configs-item">
        <div id="prefix">
          <input nz-input [(ngModel)]="prefix" (blur)="setPrefix()" />
        </div>
      </div>

      <span>Show Comments</span>
      <nz-switch
        [(ngModel)]="editor.commonConfigs.showComments"
        (ngModelChange)="toggleComments($event)"
      ></nz-switch>
    </div>
    <div class="checkbox-group">
      <nz-checkbox-group
        [(ngModel)]="sections"
        (ngModelChange)="toggleSection()"
      ></nz-checkbox-group>
    </div>

    <div class="global-configs-wrapper">
    <label for="fileName">FileName</label>
      <div class="global-configs-item">
        <div id="fileName">
          <app-input-file-name
            [fileName]="editor.commonConfigs.fileName"
            [format]="editor.commonConfigs.format"
            (saveFileName)="saveFileName($event)"
          ></app-input-file-name>
        </div>
      </div>
    </div>

    <div class="download" (click)="editor.download()" *ngIf="canDownload()">Download All</div>
  </div>

</div>