<div class="wrapper">
  <div class="color-info">
    <app-color-picker
      [color]="token.color"
      (colorChange)="changeColor($event)"
      (colorSave)="saveColor()"
    ></app-color-picker>
  </div>

  <div *ngIf="token.isPrimary">

    <app-color-variants
      #tintsTemplateRef

      [variants]="token.tint"
      [primaryColor]="token.color"
      mixedColor="white"
      [mixRatio]="token.tintConfigs.mixRatio"
      [saturation]="token.tintConfigs.saturation"

      (addVariant)="addVariant($event, 'tint', token.tint, tintsTemplateRef)"
      (deleteVariant)="deleteVariant($event, token.tint, tintsTemplateRef)"
      (changeVariantColor)="changeVariantColor($event)"
      (updateVariantConfigs)="updateConfigs({tintConfigs: $event})"
    ></app-color-variants>

    <app-color-variants
      #shadesTemplateRef

      [variants]="token.shade"
      [primaryColor]="token.color"
      mixedColor="black"
      [mixRatio]="token.shadeConfigs.mixRatio"
      [saturation]="token.shadeConfigs.saturation"

      (addVariant)="addVariant($event, 'shade', token.shade, shadesTemplateRef)"
      (deleteVariant)="deleteVariant($event, token.shade, shadesTemplateRef)"
      (changeVariantColor)="changeVariantColor($event)"
      (updateVariantConfigs)="updateConfigs({shadeConfigs: $event})"
    ></app-color-variants>
  </div>
</div>