<div class="wrapper">
  <div class="color-info">
    <input
      [(colorPicker)]="color"
      [cpOutputFormat]="'rgba'"
      [cpToggle]="true"
      [cpDialogDisplay]="'inline'"
      [style.background]="color"
      [cpCancelButton]="true"
      [cpPresetColors]="getPresetColors()"
      (colorPickerChange)="onColorChange($event)"
    />
  </div>

  <div>
    <app-color-variants
      type="tint"
      [variants]="getVariants('tints')"
      [primaryColor]="_color"
      [debounceTime]="DEBOUNCE_TIME"
      [editableContent]="editor.content"
      (onAddVariant)="addVariant($event)"
      (onRemoveVariant)="removeVariant($event)"
      (onColorChange)="updateVariant($event)"
    ></app-color-variants>
    
    <app-color-variants
      type="shade"
      [variants]="getVariants('shades')"
      [primaryColor]="_color"
      [debounceTime]="DEBOUNCE_TIME"
      [editableContent]="editor.content"
      (onAddVariant)="addVariant($event)"
      (onRemoveVariant)="removeVariant($event)"
      (onColorChange)="updateVariant($event)"
    ></app-color-variants>
  </div>

  <div *ngFor="let theme of colorsByTheme">
    <p>{{ theme.themeName }}</p>
    <div class="palette">
      <div
        *ngFor="let palette of theme.tokens"
        [style.background]="palette.value.color"
        (click)="setColor(palette.value.color)"
      ></div>
    </div>
  </div>
</div>