<div class="wrapper">
  <div class="color-info">
    <app-color-picker
      [color]="color"
      [currentThemeColors]="getPresetColors()"
      (colorChange)="onColorChange($event)"
      (colorSave)="saveColor($event)"
    ></app-color-picker>
  </div>

  <div>
    <app-color-variants
      type="tint"
      [variants]="getVariants('tints')"
      [primaryColor]="_color"
      [debounceTime]="DEBOUNCE_TIME"
      [editableContent]="editor.content"
      (onAddVariant)="addVariant($event)"
      (onRemoveVariant)="removeVariant($event)"
      (onColorChange)="updateVariant($event)"
    ></app-color-variants>

    <app-color-variants
      type="shade"
      [variants]="getVariants('shades')"
      [primaryColor]="_color"
      [debounceTime]="DEBOUNCE_TIME"
      [editableContent]="editor.content"
      (onAddVariant)="addVariant($event)"
      (onRemoveVariant)="removeVariant($event)"
      (onColorChange)="updateVariant($event)"
    ></app-color-variants>
  </div>
</div>