@import "design-tokens";
@import "styles";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.typeface-preview-container {
  flex: 1;
  width: 104%;
}

.select {
  width: 67%;
}

.ant-select {
  width: 100%;
}

.categories {
  background: @color-bg-30;
  padding: @space-sm;
  border-radius: @border-radius-sm;
  margin-top: @space-xs;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-xxs;
}

.typeface-preview-block {
  width: 100%;
}

.typeface-preview-text {
  cursor: pointer;
  padding: @space-lg @space-sm;
  background: @color-bg-30;
  font-size: @text-md;
}

.typeface-preview-info {
  display: flex;
  justify-content: space-between;
  font-size: @text-sm;
  color: @color-contrast-medium;
  margin-top: @space-xxs;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid @color-border;
}