@import "design-tokens.less";
@import "styles.less";

.settings {
  display: flex;
  .ant-select {
    width: 85%;
    margin-right: @space-xxs;

    &::ng-deep nz-select-top-control {
      border-radius: @border-radius-md 0 0 @border-radius-md;
    }
  }

  i {
    cursor: pointer;
    background: @color-bg-30;
    border-radius: 0 @border-radius-md @border-radius-md 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
}

.categories {
  background: @color-bg-30;
  padding: @space-sm;
  border-radius: @border-radius-sm;
  margin-top: @space-xs;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: @space-xxs;
}

.search-input {
  margin-top: @space-md;
}

.search-results {
  font-size: @text-sm;
  color: @color-contrast-medium;
  margin-top: @space-xs;
}


.typeface-preview-container {
  height: 58%;
  width: 105%;
}

.typeface-preview-block {
  width: 100%;
}

.typeface-preview-text {
  cursor: pointer;
  padding: @space-lg @space-sm;
  background: @color-bg-30;
  font-size: @text-md;
}

.typeface-preview-info {
  display: flex;
  justify-content: space-between;
  font-size: @text-sm;
  color: @color-contrast-medium;
  margin-top: @space-xxs;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid @color-border;
}