<div>
  <app-color-contrast-checker
    [backgroundColor]="backgroundColor"
    [textColor]="color"
  ></app-color-contrast-checker>

  <div nz-row [nzGutter]="12" nzAlign="center" class="editor-block">
    <div nz-col nzSpan="12">
      <p class="editor-label">Text Color</p>
      <app-color-picker
        [color]="token.color"
        (colorChange)="changeTextColor($event)"
        (colorSave)="updateTextStyles({color: color}, true)"
      ></app-color-picker>
    </div>

    <div nz-col nzSpan="12">
      <p class="editor-label">Background Color</p>
      <app-color-picker
        [color]="token.backgroundColor"
        (colorChange)="changeBackgroundColor($event)"
        (colorSave)="updateTextStyles({backgroundColor: backgroundColor}, true)"
      ></app-color-picker>
    </div>
  </div>

  <div class="editor-block">
    <app-tokens-section-select
      section="Type Face"
      [selectedTokenId]="token.typefaceId"
      (change)="setFontFamily($event)"
      [customContent]="customContent"
    >
      <ng-template let-token #customContent>
        <div class="typeface-option">
          <p
            class="typeface-preview"
            [style.fontFamily]="token.family"
          >Aa</p>
          <p class="typeface-name">{{ token.name }}</p>
        </div>
      </ng-template>
    </app-tokens-section-select>
  </div>

  <div class="editor-block">
    <app-modular-scale-editor-token
      [content]="content"
      title="Font Size"
    ></app-modular-scale-editor-token>
  </div>

  <div class="editor-block">
    <app-slider
      title="Letter Spacing"
      [min]="-0.1"
      [max]="1"
      [step]="0.01"
      units="em"
      [(model)]="token.letterSpacing"
      (afterModelChange)="updateTextStyles({letterSpacing: $event})"
    ></app-slider>
  </div>

  <div class="editor-block">
    <app-slider
      title="Line Height"
      [min]="1"
      [max]="4"
      [step]="0.1"
      units="none"
      [(model)]="token.lineHeight"
      (afterModelChange)="updateTextStyles({lineHeight: $event})"
    ></app-slider>
  </div>

  <div class="editor-block">
    <app-slider
      title="Word Spacing"
      [min]="0"
      [max]="1"
      [step]="0.01"
      units="em"
      [(model)]="token.wordSpacing"
      (afterModelChange)="updateTextStyles({wordSpacing: $event})"
    ></app-slider>
  </div>

  <div class="editor-block" *ngIf="variants.length">
    <p class="editor-label">Font Weight</p>
    <nz-select
      [ngModel]="token.fontWeight"
      (ngModelChange)="updateTextStyles({fontWeight: $event}, true)"
    >
    <nz-option
      *ngFor="let variant of variants"
      [nzValue]="variant"
      [nzLabel]="variant"
    ></nz-option>
    </nz-select>
  </div>

  <div nz-row nzJustify="space-between">
    <div class="editor-block text-styles" nz-col nzSpan="10">
      <p class="editor-label">Text Decoration</p>
      <div class="text-styles-options">
        <i
          [class.isActive]="token.textDecoration === 'underline'"
          nz-icon nzType="underline" nzTheme="outline"
          (click)="setTextDecoration('underline')"
        ></i>
        <i
          [class.isActive]="token.textDecoration === 'line-through'"
          nz-icon nzType="strikethrough" nzTheme="outline"
          (click)="setTextDecoration('line-through')"
        ></i>
      </div>
    </div>

    <div class="editor-block text-styles" nz-col nzSpan="10">
      <p class="editor-label">Text Styles</p>
      <div class="text-styles-options">
        <i
          [class.isActive]="token.fontStyle === 'normal'"
          nz-icon nzType="font-colors" nzTheme="outline"
          (click)="updateTextStyles({fontStyle: 'normal'}, true)"
        ></i>
        <i
          [class.isActive]="token.fontStyle === 'italic'"
          nz-icon nzType="italic" nzTheme="outline"
          (click)="updateTextStyles({fontStyle: 'italic'}, true)"
        ></i>
      </div>
    </div>

  </div>

  <div class="editor-block">
    <p class="editor-label">Text</p>
    <textarea rows="4" nz-input [(ngModel)]="text" (blur)="setPreviewText()"></textarea>
  </div>
</div>