<ng-container *ngIf="group.view !== 'minimal'">
  <app-editor-block title="Color Contrast">
    <app-color-contrast-checker
      [backgroundColor]="backgroundColor"
      [textColor]="color"
    ></app-color-contrast-checker>
  </app-editor-block>

  <div nz-row [nzGutter]="20" nzAlign="center">
    <div nz-col nzSpan="12">
      <app-editor-block title="Text Color">
        <app-color-picker
          [color]="token.color || group.color"
          (colorChange)="changeTextColor($event)"
          (colorSave)="updateTextStyles({color: color}, true)"
        ></app-color-picker>
      </app-editor-block>
    </div>
  
    <div nz-col nzSpan="12">
      <app-editor-block title="Background Color">
        <app-color-picker
          [color]="token.backgroundColor || group.backgroundColor"
          (colorChange)="changeBackgroundColor($event)"
          (colorSave)="updateTextStyles({backgroundColor: backgroundColor}, true)"
        ></app-color-picker>
      </app-editor-block>
    </div>
  </div>
  
  <div class="divider top-0"></div>
</ng-container>

<app-editor-block>
  <app-modular-scale-editor-token
    [content]="content"
    title="Font Size"
  ></app-modular-scale-editor-token>

  <div class="divider"></div>
</app-editor-block>

<app-editor-block title="Type Face">
  <app-typeface-list-select
    [typefaceId]="token.typefaceId || group.typefaceId"
    (change)="setFontFamily($event)"
  ></app-typeface-list-select>
</app-editor-block>

<app-editor-block>
  <app-slider
    title="Letter Spacing"
    [min]="-0.1"
    [max]="1"
    [step]="0.01"
    units="em"
    [(model)]="token.letterSpacing"
    (afterModelChange)="updateTextStyles({letterSpacing: $event})"
  ></app-slider>
</app-editor-block>

<app-editor-block>
  <app-slider
    title="Line Height"
    [min]="1"
    [max]="4"
    [step]="0.1"
    units="em"
    [(model)]="token.lineHeight"
    (afterModelChange)="updateTextStyles({lineHeight: $event})"
  ></app-slider>
</app-editor-block>

<app-editor-block>
  <app-slider
    title="Word Spacing"
    [min]="0"
    [max]="1"
    [step]="0.01"
    units="em"
    [(model)]="token.wordSpacing"
    (afterModelChange)="updateTextStyles({wordSpacing: $event})"
  ></app-slider>
</app-editor-block>

<app-editor-block title="Font Weight" *ngIf="variants.length">
  <nz-select
    [ngModel]="token.fontWeight"
    (ngModelChange)="updateTextStyles({fontWeight: $event}, true)"
  >
    <nz-option
      *ngFor="let variant of variants"
      [nzValue]="variant"
      [nzLabel]="variant"
    ></nz-option>
  </nz-select>
</app-editor-block>

<div nz-row nzJustify="space-between">
  <app-editor-block title="Text Decoration" nz-col nzSpan="10">
    <button nz-button [nzType]="token.textDecoration === 'underline' ? 'primary' : 'default'" (click)="setTextDecoration('underline')">
      <i nz-icon nzType="underline" nzTheme="outline"></i>
    </button>

    <div class="space-horizontal space-horizontal-xxs"></div>

    <button nz-button [nzType]="token.textDecoration === 'line-through' ? 'primary' : 'default'" (click)="setTextDecoration('line-through')">
      <i nz-icon nzType="strikethrough" nzTheme="outline"></i>
    </button>
  </app-editor-block>

  <app-editor-block title="Text Styles" nz-col nzSpan="10">
    <button nz-button [nzType]="token.fontStyle === 'normal' ? 'primary': 'default'" (click)="updateTextStyles({fontStyle: 'normal'}, true)">
      <i nz-icon nzType="font-colors" nzTheme="outline"></i>
    </button>

    <div class="space-horizontal space-horizontal-xxs"></div>

    <button nz-button [nzType]="token.fontStyle === 'italic' ? 'primary': 'default'" (click)="updateTextStyles({fontStyle: 'italic'}, true)">
      <i nz-icon nzType="italic" nzTheme="outline"></i>
    </button>
  </app-editor-block>

</div>

<app-editor-block title="Text">
  <textarea rows="4" nz-input [(ngModel)]="text" (blur)="setPreviewText()"></textarea>
</app-editor-block>
