<div>
  <app-tokens-section-select
    section="Type Face"
    [selectedTokenId]="getStyleTokenId('fontFamily')"
    (change)="setStyleRef($event, 'fontFamily')"
  ></app-tokens-section-select>

  <app-tokens-section-select
    section="Type Scale"
    [selectedTokenId]="getStyleTokenId('fontSize')"
    (change)="setStyleRef($event, 'fontSize')"
  ></app-tokens-section-select>

  <app-tokens-section-select
    section="Line Height"
    [selectedTokenId]="getStyleTokenId('lineHeight')"
    (change)="setStyleRef($event, 'lineHeight')"
  ></app-tokens-section-select>

  <app-tokens-section-select
    section="Letter Spacing"
    [selectedTokenId]="getStyleTokenId('letterSpacing')"
    (change)="setStyleRef($event, 'letterSpacing')"
  ></app-tokens-section-select>

  <p>Text</p>
  <textarea rows="4" nz-input [(ngModel)]="text" (blur)="setPreviewText()"></textarea>
</div>